@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato&family=Poppins&display=swap");
hr {
  border-color: #e0ba85;
}

.home-container {
  background-image: url(../media/main-background.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
}

.home-container .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(224, 186, 133, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.home-container .top {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-container .top .text {
  font-weight: bolder;
  text-align: center;
  font-size: 6rem;
  color: white;
  font-family: 'Amatic SC', cursive;
  text-shadow: #72441b 5px 5px 1px;
}

.home-container .top .text span {
  font-size: 4.5rem;
}

.main {
  margin: 1rem;
}

@media (max-width: 450px) {
  .main .container > img {
    display: none;
  }
}

@media (max-width: 799px) {
  .main .container > img {
    display: none;
  }
}

.main .sluzby-text {
  padding: 1rem;
}

.main .sluzby-text .container {
  padding: 1rem;
}

.main .sluzby-text .container h1 {
  color: #e0ba85;
  padding-bottom: 1rem;
  font-size: 3rem;
}

@media (min-width: 0px) {
  .main .sluzby-text .container h1 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .main .sluzby-text .container h1 {
    text-align: start;
  }
}

.main .sluzby-text .container .text {
  padding-bottom: 2rem;
  color: #f0c474;
  font-style: italic;
  font-size: 1.4rem;
}

.main .sluzby-text .container .btn {
  background-color: #e0ba85;
  text-decoration: none;
  color: #72441b;
  font-weight: bold;
  font-size: 1.4rem;
  font-style: italic;
  padding: 1rem;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 1rem;
}

@media (max-width: 799px) {
  .main .sluzby-text .container .btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.main .sluzby-text .container .btn:hover {
  background-color: #f0c474;
  color: #0d0c0a;
  font-size: 1.3rem;
}

.main .obchod-text {
  padding: 1rem;
}

.main .obchod-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1fr;
      grid-template-columns: 500px 1fr;
}

@media (max-width: 450px) {
  .main .obchod-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 799px) {
  .main .obchod-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.main .obchod-text .container img {
  width: 100%;
  height: 400px;
}

.main .obchod-text .container .content {
  margin: 1rem;
}

.main .obchod-text .container .content h1 {
  color: #e0ba85;
  font-size: 3rem;
  padding-bottom: 1rem;
}

@media (min-width: 0px) {
  .main .obchod-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .main .obchod-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .main .obchod-text .container .content h1 {
    text-align: start;
  }
}

.main .obchod-text .container .content .text {
  font-style: italic;
  color: #f0c474;
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.main .obchod-text .container .content .btn {
  background-color: #e0ba85;
  text-decoration: none;
  color: #72441b;
  font-weight: bold;
  font-size: 1.4rem;
  font-style: italic;
  padding: 1rem;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 1000px) {
  .main .obchod-text .container .content .btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.main .obchod-text .container .content .btn:hover {
  background-color: #f0c474;
  color: #0d0c0a;
  font-size: 1.3rem;
}

.main .kontakt-text {
  padding: 2rem;
}

.main .kontakt-text h1 {
  color: #e0ba85;
  padding-bottom: 1rem;
  font-size: 3rem;
}

@media (min-width: 0px) {
  .main .kontakt-text h1 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .main .kontakt-text h1 {
    text-align: start;
  }
}

.main .kontakt-text .text {
  padding-bottom: 2rem;
  color: #f0c474;
  font-style: italic;
  font-size: 1.4rem;
}

.main .kontakt-text .btn {
  background-color: #e0ba85;
  text-decoration: none;
  color: #72441b;
  font-weight: bold;
  font-size: 1.4rem;
  font-style: italic;
  padding: 1rem;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 1rem;
}

@media (max-width: 799px) {
  .main .kontakt-text .btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.main .kontakt-text .btn:hover {
  background-color: #f0c474;
  color: #0d0c0a;
  font-size: 1.3rem;
}
/*# sourceMappingURL=home.css.map */