@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

html{
    background-color: $background;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}