.content {
  margin: 1rem;
}

.content hr {
  border-color: #e0ba85;
}

@media (max-width: 450px) {
  .content .container > img {
    display: none;
  }
}

@media (max-width: 900px) {
  .content .container > img {
    display: none;
  }
}

.content .o-nas-text {
  padding: 1rem;
}

.content .o-nas-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .content .o-nas-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 900px) {
  .content .o-nas-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 900px) {
  .content .o-nas-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .o-nas-text .container .content h1 {
  color: #e0ba85;
  font-size: 250%;
  /*border: 1px solid $color2;
                    border-radius: 999px;
                    color: $background;
                    background-color: $color2;
                    padding-left: 1rem;
                    //text-align: center;*/
}

.content .o-nas-text .container .content .text {
  font-style: italic;
  padding-right: 1rem;
  color: #f0c474;
}

.content .o-nas-text .container img {
  height: 400px;
}

.content .vznik-text {
  padding: 1rem;
}

.content .vznik-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1fr;
      grid-template-columns: 500px 1fr;
  padding-top: 1rem;
}

@media (max-width: 450px) {
  .content .vznik-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 900px) {
  .content .vznik-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .vznik-text .container img {
  width: 100%;
  height: 400px;
}

.content .vznik-text .container .content h1 {
  color: #e0ba85;
  font-size: 250%;
  padding-left: 1rem;
}

.content .vznik-text .container .content .text {
  font-style: italic;
  color: #f0c474;
  padding-left: 1rem;
}

.content .uspechy-text {
  padding: 1rem;
}

.content .uspechy-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  padding-top: 1rem;
}

@media (max-width: 450px) {
  .content .uspechy-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 900px) {
  .content .uspechy-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .uspechy-text .container img {
  width: 100%;
  height: 400px;
}

.content .uspechy-text .container .content h1 {
  color: #e0ba85;
  font-size: 250%;
  padding-left: 1rem;
}

.content .uspechy-text .container .content .text {
  font-style: italic;
  color: #f0c474;
  padding-left: 1rem;
}

.content .nas-tim-text {
  padding: 1rem;
}

.content .nas-tim-text h1 {
  color: #e0ba85;
  font-size: 250%;
  border: 1px solid #e0ba85;
  border-radius: 999px;
  color: #72441b;
  background-color: #e0ba85;
  padding-left: 1rem;
  text-align: center;
}

.content .nas-tim-text .text {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #f0c474;
}

.content .nas-tim-text .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  /* @media(max-width: 768px){
                grid-template-columns: repeat(1, auto);
                
                .card{
                    width: 50%;
                    justify-self: center;       
                }
            }

           @media(min-width: 769px){
                grid-template-columns: repeat(2, auto);
            }

            @media(min-width: 1024px){
                grid-template-columns: repeat(3, auto);
            }

            @media(min-width: 1600px){
                grid-template-columns: repeat(4, auto);
            }*/
}

.content .nas-tim-text .cards .card {
  border: 1px solid #e0ba85;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
  background: #e0ba85;
}

.content .nas-tim-text .cards .card .meno {
  color: #72441b;
  font-size: 150%;
}

.content .nas-tim-text .cards .card .img {
  width: 100%;
}

.content .nas-tim-text .cards .card .info {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
}

.content .nas-tim-text .cards .card .info .pozicia {
  text-align: center;
  color: #72441b;
  font-weight: bold;
}

.content .nas-tim-text .cards .card .info .description {
  font-style: italic;
}

.content .sluzby-text {
  padding: 1rem;
}

.content .sluzby-text .container {
  padding: 1rem;
}

.content .sluzby-text .container h1 {
  color: #e0ba85;
  padding-bottom: 1rem;
  font-size: 250%;
}

.content .sluzby-text .container .text {
  padding-bottom: 2rem;
  color: #f0c474;
  font-style: italic;
}

.content .sluzby-text .container .btn {
  background-color: #e0ba85;
  text-decoration: none;
  color: #72441b;
  font-weight: bold;
  font-size: 110%;
  font-style: italic;
  padding: 1rem;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 1rem;
}

.content .sluzby-text .container .btn:hover {
  background-color: #f0c474;
  color: #0d0c0a;
  font-size: 120%;
}

.content .obchod-text {
  padding: 1rem;
}

.content .obchod-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1fr;
      grid-template-columns: 500px 1fr;
}

@media (max-width: 450px) {
  .content .obchod-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 900px) {
  .content .obchod-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .obchod-text .container img {
  width: 100%;
  height: 400px;
}

.content .obchod-text .container .content h1 {
  color: #e0ba85;
  font-size: 250%;
  padding-bottom: 1rem;
}

.content .obchod-text .container .content .text {
  font-style: italic;
  color: #f0c474;
  padding-bottom: 2rem;
}

.content .obchod-text .container .content .btn {
  background-color: #e0ba85;
  text-decoration: none;
  color: #72441b;
  font-weight: bold;
  font-size: 110%;
  font-style: italic;
  padding: 1rem;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: .4s;
  transition: .4s;
}

.content .obchod-text .container .content .btn:hover {
  background-color: #f0c474;
  color: #0d0c0a;
  font-size: 120%;
}

.content .kontakt-text {
  padding: 1rem;
}

.content .kontakt-text h1 {
  color: #e0ba85;
  padding-bottom: 1rem;
  font-size: 250%;
}

.content .kontakt-text .text {
  padding-bottom: 2rem;
  color: #f0c474;
  font-style: italic;
}

.content .kontakt-text .btn {
  background-color: #e0ba85;
  text-decoration: none;
  color: #72441b;
  font-weight: bold;
  font-size: 110%;
  font-style: italic;
  padding: 1rem;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 1rem;
}

.content .kontakt-text .btn:hover {
  background-color: #f0c474;
  color: #0d0c0a;
  font-size: 120%;
}
/*# sourceMappingURL=o-nas.css.map */