.content {
  margin: 1rem;
}

.content hr {
  border-color: #e0ba85;
}

@media (max-width: 450px) {
  .content .container > img {
    display: none;
  }
}

@media (max-width: 799px) {
  .content .container > img {
    display: none;
  }
}

.content .o-nas-text {
  padding: 1rem;
}

.content .o-nas-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  overflow: hidden;
}

@media (max-width: 450px) {
  .content .o-nas-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 799px) {
  .content .o-nas-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .o-nas-text .container .content h1 {
  color: #e0ba85;
  font-size: 3rem;
}

@media (min-width: 0px) {
  .content .o-nas-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .content .o-nas-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .content .o-nas-text .container .content h1 {
    text-align: start;
  }
}

.content .o-nas-text .container .content .text {
  font-style: italic;
  padding-right: 1rem;
  font-size: 1.4rem;
  color: #f0c474;
}

.content .o-nas-text .container img {
  height: 400px;
}

.content .vznik-text {
  padding: 1rem;
}

.content .vznik-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1fr;
      grid-template-columns: 500px 1fr;
  padding-top: 1rem;
}

@media (max-width: 450px) {
  .content .vznik-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 799px) {
  .content .vznik-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .vznik-text .container img {
  width: 100%;
  height: 400px;
}

.content .vznik-text .container .content h1 {
  color: #e0ba85;
  font-size: 3rem;
  padding-left: 1rem;
}

@media (min-width: 0px) {
  .content .vznik-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .content .vznik-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .content .vznik-text .container .content h1 {
    text-align: start;
  }
}

.content .vznik-text .container .content .text {
  font-style: italic;
  color: #f0c474;
  padding-left: 1rem;
  font-size: 1.4rem;
}

.content .uspechy-text {
  padding: 1rem;
}

.content .uspechy-text .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  padding-top: 1rem;
}

@media (max-width: 450px) {
  .content .uspechy-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 799px) {
  .content .uspechy-text .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.content .uspechy-text .container img {
  width: 100%;
  height: 400px;
}

.content .uspechy-text .container .content h1 {
  color: #e0ba85;
  font-size: 3rem;
  padding-left: 1rem;
}

@media (min-width: 0px) {
  .content .uspechy-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .content .uspechy-text .container .content h1 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .content .uspechy-text .container .content h1 {
    text-align: start;
  }
}

.content .uspechy-text .container .content .text {
  font-style: italic;
  color: #f0c474;
  padding-left: 1rem;
  font-size: 1.4rem;
}

.content .nas-tim-text {
  padding: 1rem;
}

.content .nas-tim-text h1 {
  color: #e0ba85;
  font-size: 3rem;
  border: 1px solid #e0ba85;
  border-radius: 999px;
  color: #72441b;
  background-color: #e0ba85;
  padding-left: 1rem;
  text-align: center;
}

.content .nas-tim-text .text {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #f0c474;
  font-size: 1.4rem;
}

.content .nas-tim-text .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
}

@media (max-width: 450px) {
  .content .nas-tim-text .cards {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (min-width: 451px) {
  .content .nas-tim-text .cards {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 800px) {
  .content .nas-tim-text .cards {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1100px) {
  .content .nas-tim-text .cards {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

.content .nas-tim-text .cards .card {
  border: 1px solid #e0ba85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background: #e0ba85;
}

.content .nas-tim-text .cards .card .meno {
  color: #72441b;
  font-size: 2rem;
}

.content .nas-tim-text .cards .card .img {
  width: 100%;
  height: 20rem;
}

.content .nas-tim-text .cards .card .info {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
}

.content .nas-tim-text .cards .card .info .pozicia {
  text-align: center;
  color: #72441b;
  font-weight: bold;
  font-size: 1.8rem;
}

.content .nas-tim-text .cards .card .info .description {
  text-align: center;
  font-style: italic;
  font-size: 1.4rem;
}
/*# sourceMappingURL=o-nas.css.map */